// Import Bulma's core
@import '~bulma/sass/utilities/_all';





// Set your colors
$primary: #414fff;
$primary-invert: findColorInvert($primary);

$secondary: #EDEEFF;
$secondary-invert: findColorInvert($secondary);

$grey: #F7F7F7;
$grey-invert: findColorInvert($grey);

$grey-100: #EDEDED;
$grey-100-invert: findColorInvert($grey-100);

$grey-200: #DFDFDF;
$grey-200-invert: findColorInvert($grey-200);

$grey-300: #D1D1D1;
$grey-300-invert: findColorInvert($grey-300);

$grey-400: #9a9a9a;
$grey-400-invert: findColorInvert($grey-400);

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$black: #434460;
$black-invert: findColorInvert($black);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'secondary': (
    $secondary,
    $secondary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'twitter': (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// checkbox
$checkbox-active-background-color: $white;
$checkbox-border-color: #9A9A9A;
$checkbox-border-radius: 8px;
$checkbox-checkmark-color: $primary;

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
  border-color:$primary !important;
}



// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

// 커스텀할 모듈
// @import "~bulma/sass/form/_all.sass"; 
// @import "~bulma/sass/components/navbar.sass;

@import '~bulma/sass/components/tabs.sass';

// Tabs
$tabs-link-padding: 10em 10em !default

